[class$="_extended_share"] {
  width: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: opacity 0.2s ease-in, top 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in, top 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in, top 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in, top 0.2s ease-in;
  transition: opacity 0.2s ease-in, top 0.2s ease-in;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  height: 32px;
  line-height: 32px;
  margin-right: 8px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  top: 0;
  vertical-align: top;
  white-space: nowrap;
}

.telegram_extended_share {
  background-color: #0088cc;
}
.viber_extended_share {
  background-color: #645EA4;
}
.whatsapp_extended_share {
  background-color: #25d366;
}
.linkedin_extended_share {
  background-color: #0077b5;
}
.pinterest_extended_share {
  background-color: #CB2027;
}
.vk_extended_share {
  background-color: #4c6c91;
}
.odnoklassniki_extended_share {
  background-color: #d7772d;
}
.twitter_extended_share {
  background-color: #000000;
}
.facebook_extended_share {
  background-color: #4267B2;
}
.skype_extended_share {
  background-color: #00aff0;
}
